---
---

<header>
	<div class="container py-8 flex justify-between">
		<a href="/" class="text-xl font-light">Agung</a>
		<nav class="space-x-4">
			<a href="/">Home</a>
			<a href="#blog">Blog</a>
			<a href="#project">Project</a>
		</nav>
	</div>
</header>
